.headline {
	font-weight: 300;
	font-size: 30px;
	color: $mainBlue;

	@mixin atSmall {
		font-size: 46px;
	}

	&--centered {
		text-align: center;
	}

	&--orange {
		color: $mainOrange;
	}

	&--small {
		font-size: 22px;
		@mixin atSmall {
			font-size: 30px;
		}
	}

	&--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	&--light {
		font-weight: 100;
	}

	&--b-margin-small {
		margin-bottom: .5em;
	}

	&--b-margin-large {
		margin-bottom: 1.6em;
	}

	&--no-t-margin {
		margin-top: 0;
	}
}