.site-footer {
	background-color: $mainBlue;
	color: #fff;
	padding: 8px 0;
	text-align: center;

	&__text {
		display: block;
		margin-bottom: 16px;
		font-weight: 200;

		@mixin atMedium {
			display: inline;
			margin-bottom: 0;
			margin-right: 20px;
		}
	}
}